* {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;

}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.blue-icon {
    color: #0065FC
}

a {

    color: black;
    text-decoration: none;
}

/*************** Header *****************/
header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between
}


.logo-booki {
    padding-top: 30px;
}

.logo-booki img {
    width: 61.19px;
    height: 19px;
}

.accomodations-activities{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    
}
.accomodations {
    margin-right: 50px;
    
}

header a { 
    display: block;
    padding-top: 30px;
   
}
header a:hover {
    border-top: 2px #0065FC solid;
    color: #0065FC;
}

.top-title-1 {
    font-size: 22px;
    margin-top: 60px;
}

.top-title-2 {
    font-size: 16px;
    margin-top: 7px;
}

/***Formulaire****/

.form {
    display: flex;
    height: 50px !important;
    margin-top: 40px;
}

.icon-form {
    font-size: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px #f2f2f2 solid;
    background-color: #f2f2f2;
    padding: 10px;
    width: 20px;
    padding-left: 19px;
    padding-top: 15px;
}

input {
    border: 1px #f2f2f2 solid;
    border-right: #0065FC;
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 18px;

}

.btn-search {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px transparent solid;
    background-color: #0065FC;
    padding: 15px 16px 15px 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;

}

.icon-mobile {
    display: none;

}

input:focus {
    outline: none;
}

::placeholder {
    color: black;
}

/*******filtres******/

.filters {
    display: flex;
    margin-top: 40px;
}

.filters p {
    font-weight: bold;
    margin: 13px;
    font-size: 18px;
}

.filters ul {
    list-style: none;
    display: flex;

}


.filters li :hover {
    background-color: #DEEBFF;
}


.filters button {
    background-color: white;
    border: none;
    margin-left: 5px;
    font-weight: bold;
    font-size: 14px;
    border: 2px #d9d9d9 solid;
    margin-right: 15px;
    border-radius: 20px;
    padding: 10px;
    padding-right: 15px;
}

.icon-btn {
    margin-left: 5px;
    margin-right: 10px;
    font-size: 20px;
}

.info {
    display: flex;
    margin-top: 30px;
}

.icon-info {
    font-size: 13px;
}

.circle {
    border: 2px #d9d9d9 solid;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info p {
    margin-left: 15px;
    margin-top: 8px;

}

/**********accomodations-and-populars*********/

.accomodations-and-populars {
    display: flex;
    justify-content: space-between;
}

.accomodations-and-populars section {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 30px;
}

.neutral-star {
    color: #F2F2F2
}

.euro {
    font-weight: 700;
}

/**********Cards Hébergement à Marseille********/
.accomodations-Marseille {
    width: 65%;
}

.accomodations-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;


}

.accomodations-Marseille h1 {

    font-size: 22px;

}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 90%;

}

.accomodations-card img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.card-content h3 {
    font-size: 16px;
}


.accomodations-card .card {
    margin-top: 33px;
}

.card-content {
    padding-left: 7px;
}

.card-txt h3 {
    margin-top: 4px;
}

.card-txt p {
    font-size: 14px;
    margin-top: 4px;
}

.card-rating {
    margin-top: 5px;
}


.accomodations-btn {
    padding-top: 30px;
    font-size: 18px;
    font-weight: bold;

}



/**********cards les plus populaires***********/

.popular {
    width: 32%;
    display: flex;
    flex-direction: column;

}


.popular-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}
.popular-title h2 {
    font-size: 22px;
}

.card-p a {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.card-p img {
    width: 33%;
    height: 136px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.card-p {
    background-color: white;
    border-radius: 20px;
    display: flex;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));


}

.popular-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;

}

.card-p .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


/********* cards activités à Marseille*********/



.activities-marseille h2 {
    padding-left: 30px;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 22px;
}


.activities-cards {
    display: flex;

}

.card-a h3 {
    height: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;

}

.activities-cards img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.card-a {
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
}

.card-a h3 {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.activities-cards a {
    width: 25%;
    margin-left: 20px;
    margin-right: 20px;

}

/********** Footer ***********/

.footer-lists {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;

}

.footer-lists li {
    list-style: none;
    padding-left: 30px;
    padding-top: 10px;

}

footer p {
    font-weight: bold;
    margin-top: 10px;
}

footer ul {
    width: 100%;
    margin-bottom: 20px;
}


/*** Medium devices (tablets, less/equal than 1024px) ****/
@media (max-width: 1024px) {
    .accomodations-and-populars {
        flex-direction: column;
        display: flex;
    }

    .accomodations-Marseille {
        width: 100%;
    }


    .popular {
        width: 100%;
        margin-top: 50px;
    }

    .popular-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       
    }
    .popular-cards a {
        width: 100%;
    }

    .popular-cards .card-content h3 {
        font-size: 14px;
    }

    .popular-cards .card-txt p {
        font-size: 13px;
    }

    .card-p {
        width: 30%;
    }

    /*******filtres(medium devices)*****/

    .filters {
        display: flex;
        flex-direction: column;
    }



    /******* cards Activités à Marseille (medium devices) ******/

    .activities-cards img {
        height: 211px;
    }

    .activities-cards a {
        padding: 0px;
    }


}

/*** Small devices (phones, less than 768px) ***/
@media (max-width: 767.98px) {
   

    .main-container {
        padding: 0;
        margin: 0;

    }

    /************Header (small devices)*********/
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .top-of-page {
        padding: 0 20px;
    }

    .logo-booki {
        padding-top: 30px;

    }

    .accomodations-activities {
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .accomodations {
        width: 100%;
        margin-right: 0px;
        
     }

    .activities {
        width: 100%;
        margin-right: 0px;
        
        
 }
    header a {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        border-bottom: 2px #f2f2f2 solid;
    }
    header a:hover {
        border-bottom: 2px #0065FC solid;
        border-top: 0px;
       
    }

    .icon-mobile {
        display: block;
        font-size: 20px;
    }

    .btn-search {
        font-size: 0px;
        border: 1px transparent solid;
        border-radius: 15px;
        box-shadow: 0px 5px 3px #d9d9d9;
        z-index: 2;
        position: relative;
        right: 15px;
    }

  



    /******Filters(small devices)********/


    .filters {
        display: flex;
        flex-direction: column;
    }

    .filters ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;


    }

    .filters button {
        width: 100%;
        margin: 0px;
    }


    /*********cards hebergements(small devices)********/

    .accomodations-Marseille {
        order: 2;
        margin: 0px;
    }

    section {
        border-radius: 0px !important;

    }

    .accomodations-and-populars .accomodations-Marseille {
        background-color: white;

    }

    .accomodations-card {

        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .accomodations-card a {
        width: 100%;
        margin: 0px !important;

    }

    .card {
        width: 100%;
        padding: 0px;

    }

    .du-port {
        order: 1;
    }

    .mouettes {
        order: 3;
    }

    .de-la-mer {
        order: 4;
    }

    .le-panier {
        order: 5;
    }

    .amina {
        order: 6;
    }

    .canebiere {
        order: 2;
    }

    /*********** cards Populaire (small devices)**********/

    .popular {
        width: 100%;
        display: flex;
        flex-direction: column;

    }


    .popular-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

    }



    .card-p img {
        width: 33%;
        height: 136px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

    }

    .card-p {
        width: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        padding: 5px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));


    }

    .popular-cards {
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .card-content {
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-p a {
        width: 100%;
        display: flex;
        flex-direction: row;
    }


    /********** cards Activités à Marseille (small devices)********/

    .activities-cards {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 60px;


    }

    .activities-cards a {
        width: 100%;
        height: 25%;
        margin-top: 15px;
    }

    .activities-cards img {
        height: 124px;
    }




    /*********footer (small devices)**********/

    .footer-lists {
        display: flex;
        flex-direction: column;
    }

}

/*********** Very small devices *********/

@media (max-width: 352px) {
    
    /****** filters ******/

    .filters button {
        height: 60px;
    }
}