* {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;

}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.blue-icon{
    color:#0065FC
}


/****** Header **********/
header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between
}


.logo-booki {
    padding-top: 30px;
}
.logo-booki img {
    width: 61.19px; 
    height: 19px;
}

.hebergements-activites {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin: 0px;

}

.hebergements {
    padding-top: 30px;
    margin-right: 50px;
}

.activites {
    
    padding-top: 30px;
}

a {

    color: black;
    text-decoration: none;
}

a:active {
    color: black;
}

.hebergements:hover {
    border-top: 2px #0065FC solid;
    color: #0065FC;

}

.activites:hover {
    border-top: 2px #0065FC solid;
}

.hebergements-hover:hover {
    color: #0065FC;
    ;

}

.activites-hover:hover {
    color: #0065FC;
}

.top-title-1 {
    font-weight: 700px;
    font-size: 22px;
    margin-top: 60px;
}

.top-title-2 {
    font-weight: 400px;
    font-size: 16px;
    margin-top: 7px;
}

/***Formulaire****/

.form {
    display: flex;
    height: 50px !important;
    margin-top: 40px;
}

.icon-form {
    font-size: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px #f2f2f2 solid;
    background-color: #f2f2f2;
    padding: 10px;
    width: 20px;
    padding-left: 19px;
    padding-top: 15px;
}

.champ-localisation {
    border: 1px #f2f2f2 solid;
    border-right: #0065FC;
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 18px;

}

.btn-search {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px transparent solid;
    background-color: #0065FC;
    padding: 15px 16px 15px 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;

}

.icon-mobile {
    display: none;

}

.champ-localisation:focus {
    outline: none;
}

::placeholder {
    color: black;
}

/*******filtres******/

.filters {
    display: flex;
    margin-top: 40px;
}

.p-filter {
    font-weight: bold;
    margin: 13px;
    font-size: 18px;
}

.list-filters {
    list-style: none;
    display: flex;

}


.filters-button :hover {
    background-color: #DEEBFF;
}


.filters-btn {
    background-color: white;
    border: none;
    margin-left: 5px;
    font-weight: bold;
    font-size: 16px;
    border: 2px #d9d9d9 solid;
    margin-right: 15px;
    border-radius: 20px;
    padding: 10px;
    padding-right: 15px;
}

.icon-btn {
    margin-left: 5px;
    margin-right: 10px;
    font-size: 20px;
}

.info {
    display: flex;
    margin-top: 30px;
}

.icon-info {
    font-size: 13px;
}

.circle {
    border: 2px #d9d9d9 solid;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-info {
    margin-left: 15px;
    margin-top: 8px;

}

/**********hebergements-and-populaires*********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 30px;
}

.neutral-star {
    color: #F2F2F2
}

.euro {
    font-weight: 700;
}

/**********Card Hébergement à Marseille********/
.hebergements-Marseille {
    width: 65%;
}

.hebergements-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

   
}

.section-title {

    font-size: 22px;

}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 90%;
    
}

.hebergements-card img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}


.hebergements-card .card {
    margin-top: 33px;
}

.card-content {
    padding-left: 7px;
}

.card-txt h3 {
    margin-top: 4px;
}

.card-txt p {
    font-size: 14px;
    margin-top: 4px;
}

.card-rating {
    margin-top: 4px;
}

.hebergements-btn {
    padding-top: 30px;
    font-size: 18px;
    font-weight: bold;

}



/**********Les plus populaires***********/

.populaires {
    width: 32%;
    display: flex;
    flex-direction: column;

}


.populaires-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}

.card-p img {
    width: 33%;
    height: 136px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.card-p {
    background-color: white;
    border-radius: 20px;
    display: flex;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));


}

.populaires-cards {
    display: grid;
    grid-template-columns: 1 1fr;
    gap: 35px;

}

.card-p .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


/********* activités à Marseille*********/



.activites-marseille h2 {
    padding-left: 30px;
    margin-bottom: 40px;
    margin-top: 20px;
}


.activites-cards {
    display: flex;
    
}

.title-activity-card {
    height: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    
}
.activites-cards img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.card-a {
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
}
.card-a h3 {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}
.activites-cards a {
    width: 25%;
    margin-left: 20px;
    margin-right: 20px;

}

/********** Footer ***********/

.footer-lists {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    
}
.list {
    list-style: none;
    padding-left: 30px;
    padding-top: 10px;
   
}

footer p {
    font-weight: bold;
    margin-top: 10px;
}

footer ul {
    width: 100%;
    margin-bottom: 20px;
}


/*** Medium devices (tablets, less/equal than 1024px) ****/
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
        display: flex;
    }

    .hebergements-Marseille {
        width: 100%;
    }


    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    /*******filtres(medium devices)*****/

    .filters {
        display: flex;
        flex-direction: column;
    }
    
    
    
    /******* Activités à Marseille (medium devices) ******/

  .activites-cards img {
    height: 211px;
  }
  .activites-cards a {
    padding: 0px;
  }
  

}

/*** Small devices (phones, less than 768px) ***/
@media (max-width: 767.98px) {
    Body {
        overflow-x: hidden;
    }

    .main-container {
        padding: 0;
        margin: 0;

    }

/************Header (small devices)*********/
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .top-of-page {
        padding: 0 20px;
    }

    .logo-booki {
        padding-top: 30px;

    }

    .hebergements-activites {
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .hebergements {
        width: 100%;
        margin-right: 0px;
        padding-bottom: 15px;
        border-bottom: 2px #f2f2f2 solid;
        display: flex;
        justify-content: center;
    }

    .activites {
        width: 100%;
        margin-right: 0px;
        padding-bottom: 15px;
        border-bottom: 2px #F2F2F2 solid;
        display: flex;
        justify-content: center;
    }

    .hebergements:hover {
        border-bottom: 2px #0065FC solid;
        border-top: 0px;

    }

    .activites:hover {
        border-bottom: 2px #0065FC solid;
        border-top: 0px;
    }

    .icon-mobile {
        display: block;
        font-size: 20px;
    }

    .btn-search {
        font-size: 0px;
        border: 1px transparent solid;
        border-radius: 15px;
        box-shadow: 0px 5px 3px #d9d9d9;
        z-index: 2;
        position: relative;
        right: 15px;
    }

    .champ-localisation {
        z-index: 1;
        position: relative;
        width: 100%;
    }




    /******Filters(small devices)********/


    .filters {
        display: flex;
        flex-direction: column;
    }

    .list-filters {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;


    }

    .filters-btn {
        width: 100%;
    }


    /********* hebergements(small devices)********/

    .hebergements-Marseille {
        order: 2;
        margin: 0px;
    }

    section {
        border-radius: 0px !important;

    }

    .hebergements-and-populaires .hebergements-Marseille {
        background-color: white;

    }

    .hebergements-card {
        
     width: 100%;
    display: flex;
    flex-direction: column;
        
    }
    .hebergements-card a {
        width: 100%; 
        margin: 0px !important;
        
    }
    .card {
        width: 100%;
        padding: 0px;
        
    }
    .du-port {
        order: 1;
    }
    .mouettes {
        order: 3;
    }
    .de-la-mer {
        order: 4;
    }
     .le-panier {
        order: 5;
     }

    .amina {
        order: 6;
    }
    .canebiere {
        order: 2;
    }

    /***********Populaire (small devices)**********/

.populaires {
    width: 100%;
    display: flex;
    flex-direction: column;

}


.populaires-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}



.card-p img {
    width: 33%;
    height: 136px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.card-p {
    width: 80vw;
    background-color: white;
    border-radius: 20px;
    display: flex;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));


}

.populaires-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1 1fr;
    gap: 10px;

}

.card-p .card-content {
    
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/********** Activités à Marseille (small devices)********/

.activites-cards {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 60px;
    
    
}
.activites-cards a {
    width: 100%;
    height: 25%;
    margin-top: 15px;
}
.activites-cards img{
    height: 124px;
  }




/*********footer (small devices)**********/

.footer-lists {
    display: flex;
    flex-direction: column;
}

}